.button-component {
  height: 70px;
  width: 100px;
  padding: 20px;
  border: none;
  background-color: rgb(17, 17, 73);
  font-size: 20px;
  color: white;
  border-radius: 4px;
}

.primary-button{
  background-color: rgb(17, 17, 73);
}

.delete-button{
  background-color: rgb(248, 17, 17);
}