.Profile-card{
  display: flex;
  flex-direction: column;
  height: 100px;
  margin-left: 5px;
  box-sizing: border-box;
  border-radius: 5px;
  border: solid 1px;
  background-color: rgba(243, 243, 238, 0.623);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: small;
}

.avatar{
  height: 40px;
  width: 40px;
  margin-left: 2px;
  margin-top: 2px;
  box-sizing: border-box;
  border-radius: 4px;
  border: solid 1px;
  z-index: 1;
}